<body>
  <h1>Pirate Registry!</h1>
  
  <form action="/pirates" method="post">
    Pirate Name: <input type="text" name="pirate[name]"><br>
    Pirate Height: <input type="text" name="pirate[height]"><br>
    Pirate Weight: <input type="text" name="pirate[weight]"><br>
    First Ship Name: <input type="text" id="ship_name_1" name=pirate[ships][][name]><br>
               Type: <input type="text" id="ship_type_1" name=pirate[ships][][type]><br>
               Booty: <input type="text" id="ship_booty_1" name=pirate[ships][][booty]><br>
    Second Ship Name: <input type="text" id="ship_name_2" name =pirate[ships][][name]><br>
                Type: <input type="text" id="ship_type_2" name=pirate[ships][][type]><br>
                Booty: <input type="text" id="ship_booty_2" name =pirate[ships][][booty]><br>
    <input type="submit" value="Submit">
  </form>
  
</body>
  
  


<!----  <body>
    <h1>Pirate Registry!</h1>
  
  <form action="/pirates" method="post">
    Pirate Name: <input type="text" name="pirate[name]"><br>
    Pirate Height: <input type="text" name="pirate[height]"><br>
    Pirate Weight: <input type="text" name="pirate[weight]"><br>
    First Ship Name: <input type="text" name="pirate[ships][][name]"><br>
               Type: <input type="text" name="pirate[ships][][type]"><br>
               Booty: <input type="text" name="pirate[ships][][booty]"><br>
    Second Ship Name: <input type="text" name="pirate[ships][][name]"><br>
                Type: <input type="text" name="pirate[ships][][type]"><br>
                Booty: <input type="text" name="pirate[ships][][booty]"><br>
    <input type="submit">
  </form>

  </body>  ---->
